:root {
  --primary-text-color: #fff;
  --devider-color: #ffffff9d;
  --sidebar-element-padding: max(10px, 1.4vh);
}

* {
  box-sizing: border-box;
}

/*Nicer scrollbar, only for chrome*/
::-webkit-scrollbar {
  width: 14px;
  height: 18px;
}
::-webkit-scrollbar-thumb {
  height: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05),
    inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}

.background-body-two {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 100%;
  width: 100vw;
  height: 100vh;
  background-image: url("./css/Images/clouds.jpg");
}

.background-body-one {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0% 100%;
  width: 100vw;
  height: 100vh;
  background-image: url("./css/Images/clouds.jpg");
}

body {
  margin: 0px;
}

.weather-container {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  /*Fonts and colors*/
  font-family: "Oxygen", sans-serif;
  color: var(--primary-text-color);
}

/*TODO: Add slide in animation -->*/
.date-info-container {
  min-width: min(400px, 80vw);
}

.weather-time {
  font-size: 4rem;
  margin: 0px;
}

.weather-time-container {
  display: flex;
  align-items: flex-end;
}
.weather-date {
  margin: 15px 0px;
  font-size: 4vw;
}

.weather-container-inner {
  margin: min(150px, 8vw);
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: space-between;
}

/*TODO: Add slide in animation <--*/
.weather-info-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.weather-info-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 25px;
}

.weather-temp {
  font-size: 8rem;
  margin: 0px;
}

.weather-city {
  font-size: 4rem;
  margin: 0px;
}

.weather-icon {
  color: white;
}

.weather-description::first-letter {
  text-transform: capitalize;
}

.sidebar {
  min-width: min(350px, 100vw);
  width: min(350px, 100vw);
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: #0c0c0c5e;
  overflow-y: auto;
}

.sidebar-inner {
  padding: min(4vw, 50px);
}

.searchbox-container {
  display: flex;
  justify-content: space-between;
}

.searchbox {
  border-width: 0px;
  border-style: none;
  background: none;
  color: var(--primary-text-color);
  outline: none;
}

.search-button {
  background: none;
  border: none;
  padding: 0px;
}

.search-button > img {
  width: 20px;
  color: var(--primary-text-color);
}

.search-button:hover {
  cursor: pointer;
}

hr {
  border: 1px solid var(--devider-color);
}

.common-picked-locations {
  list-style-type: none;
  padding: 0px;
}

.common-picked-locations > li {
  padding: var(--sidebar-element-padding) 0px;
}
.common-picked-locations > li:hover {
  cursor: pointer;
}

.sidebar-title {
  padding-top: var(--sidebar-element-padding);
  font-size: 1.1rem;
  font-family: "Oxygen Bold", sans-serif;
  font-weight: 600;
}

.weather-details,
.weather-week-overview {
  width: 100%;
}

.weather-details > tbody > tr > td,
.weather-week-overview > tbody > tr > td {
  padding: var(--sidebar-element-padding) 0px;
}

.weather-details > tbody > tr > td:last-child,
.weather-week-overview > tbody > tr > td:last-child {
  text-align: end;
}

.error {
  outline: 0;
  color: red;
  animation-name: bounce;
  animation-duration: 0.5s;
  animation-delay: 0.05s;
}

/* Animation for the search box to play on error.*/
@keyframes bounce {
  0% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
  37% {
    transform: translateX(7px);
    timing-function: ease-out;
  }
  55% {
    transform: translateX(-7px);
    timing-function: ease-in;
  }
  73% {
    transform: translateX(5px);
    timing-function: ease-out;
  }
  82% {
    transform: translateX(-5px);
    timing-function: ease-in;
  }
  91% {
    transform: translateX(3px);
    timing-function: ease-out;
  }
  96% {
    transform: translateX(-3px);
    timing-function: ease-in;
  }
  100% {
    transform: translateX(0px);
    timing-function: ease-in;
  }
}

@media only screen and (max-width: 850px) {
  .weather-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100vw;
    height: auto;
  }

  .weather-date {
    font-size: 6vw;
  }

  .weather-container-inner {
    margin: 3vh 5vw;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
  }

  .weather-info-container > div {
    flex-direction: row;
  }

  .sidebar-inner > *:not(.searchbox-container) {
    display: none;
  }
}
